* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
}

.header__title {
    font-size: 35px;
}

.countries-custom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin: 2rem 0;
    align-items: center;
}
.card-link {
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.card__image {
    height: 170px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.image {
    width: 90%;
}

.card__title {
    margin-top: 10px;
}

.modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    pointer-events: none;
}

.modal-dialog:target {
    opacity:1;
    pointer-events: auto;
    display:flex;
}

.modal-dialog .modal {
    width: 400px;
    height: 150px;
    position: relative;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
}

.modal--close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.modal--close:hover {
    background: #666666;
}

.search-bar {
    width: 250px;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    border-color: rgba(129, 96, 221);
    margin-left: 25px;
  }

.search-bar input {
    background: #6666;
    flex: 1;
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 15px;
    color: black;
}

::placeholder {
    color: whitesmoke;
}

.fa-search {
    margin-left: 10px;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 4rem;
    background-color: #6666;
    border-top: 2px solid black;
    font-size: 14px;
}

@media(max-width: 700px) {
    #main-content {
        font-size: 14px;
    }

    .modal {
        width: 80% !important
    }

    .countries-custom {
        grid-template-columns: 1fr
    }

    .footer {
        font-size: 12px;
    }
}
